<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.c12.almacenapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera2" android:required="false"/>

    <application


    android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true">
        <activity android:name="com.c12.almacenapp.ArticuloEspecificoActivity"/>
        <activity android:name="com.c12.almacenapp.BusquedaArticuloActivity" />
        <activity android:name="com.c12.almacenapp.LiveBarcodeScanningActivity"/>
        <activity android:name=".settings.SettingsActivity"/>
        <activity android:name="com.c12.almacenapp.ListaArticulosActivity" />
        <activity android:name="com.c12.almacenapp.ListaProveedoresActivity" />
        <activity android:name="com.c12.almacenapp.QrActivity" />
        <activity android:name="com.c12.almacenapp.ProveedorActivity" />
        <activity
            android:name="com.c12.almacenapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.c12.almacenapp.PedidoActivity"
            android:label="Pedidos" />
        <activity
            android:name="com.c12.almacenapp.ArticuloActivity"
            android:label="Artículo" />
        <activity
            android:name="com.c12.almacenapp.MenuAlmacenActivity"
            android:label="Almacen" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>